= render "shared/header", selected: "settings"

.w-full.max-w-4xl.block.mx-auto.bg-gray-800.p-7.rounded-md
	.flex.justify-between.items-center.mb-10
		%h1.text-xl.font-heading.font-semibold
			%span.text-gray-500
				%a.text-gray-500(href="/developer") Settings
				\/ 
				%a.text-gray-500(href="/developer/apps") Apps
				\/ 
			= @app.name
		-# - if @app.public
		-# 	%a.btn{href: integration_path(@app), target: "_blank"} Show public app page <i class="fas fa-external-link-alt ml-1"></i>

	.flex.gap-7
		.w-64
			%ul.flex.flex-col
				= sidebar_link(title: "OAuth", href: oauth_app_path(@app), selected: selected == "credentials")
				= sidebar_link(title: "Settings", href: edit_oauth_app_path(@app), selected: selected == "settings")
				= sidebar_link(title: "Advanced", href: advanced_oauth_app_path(@app), selected: selected == "advanced")
		.grow
			= render "shared/alert"
			= render "shared/notice"

			= yield