= render "layout", selected: "credentials" do
	.mb-5
		.text-sm.text-gray-400 Client ID
		.flex.items-center.gap-3{"data-controller" => "copy", "data-copy-text-value" => @app.client_id}
			.text-lg.font-mono.select-all= @app.client_id
			%button.btn.text-sm.clr-btn.bg-gray-700(data-action="copy#copy" data-copy-target="button") Copy

	.mb-5
		.text-sm.text-gray-400 Client Secret
		.flex.items-center.gap-3{"data-controller" => "copy", "data-copy-text-value" => @app.client_secret}
			.text-lg.font-mono.select-all= @app.client_secret
			%button.btn.text-sm.clr-btn.bg-gray-700(data-action="copy#copy" data-copy-target="button") Copy

	= form_with model: @app do |form|
		%label.block.mb-2.text-sm.text-gray-400(for="oauth_app_redirect_uri") Redirect URI
		.flex.gap-3.items-center
			= form.url_field :redirect_uri, class: "input", placeholder: "https://my-cool-app.com/oauth/callback", autofocus: true

			= form.submit "Save", class: "btn"