- content_for :page_title, "Reset your password"

= render "shared/landing_header"

= render "layouts/sm", title: "Reset your password", back_href: "/login", back_text: "Log in" do
	= form_with do |form|
		= form.email_field :email, placeholder: "Email", class: "input mb-6", required: true, autofocus: true

		.flex.justify-between.items-center
			= form.submit "Continue", class: "btn" 
