- content_for :page_title, "Log in"

.flex.flex-col.gap-5.items-center.justify-center.h-screen.w-screen
	.w-96.h-auto.bg-gray-800.border-t-4.border-green-400.rounded-md.p-7.text-white
		= render "shared/alert"
		= render "shared/notice"

		%h2.text-2xl.mb-6.ml-1.font-heading Log in

		= form_with do |form|
			= form.hidden_field(:redirect_to, value: @redirect_to) unless @redirect_to.blank?
			= form.email_field :email, placeholder: "Email", class: "input mb-4", autofocus: !@focus_password, required: true, value: @prefill_email
			= form.password_field :password, placeholder: "Password", class: "input mb-6", autofocus: @focus_password, required: true
			.flex.justify-between.items-center
				= form.submit "Log in", class: "btn" 
				%a.text-sm(href="/forgot-password") Forgot password?

		%h3.text-gray-500.mt-10.mb-4.text-center Continue with

		.flex.gap-3
			%a.flex-1{href: github_authorization_url(@redirect_to)}
				%button.w-full.btn.bg-black <i class="fab fa-github mr-1"></i> GitHub

	.w-96.text-left.text-gray-500
		%a.text-gray-500(href="/") ← Home
