- content_for :page_title, "Log in"

= render "shared/landing_header"

= render "layouts/sm", title: "Log in", back_href: "/", back_text: "Home" do
	= form_with do |form|
		= form.hidden_field(:redirect_to, value: @redirect_to) unless @redirect_to.blank?
		= form.email_field :email, placeholder: "Email", class: "input mb-4", autofocus: !@focus_password, required: true, value: @prefill_email
		= form.password_field :password, placeholder: "Password", class: "input mb-6", autofocus: @focus_password, required: true
		.flex.justify-between.items-center
			= form.submit "Log in", class: "btn" 
			%a.text-sm(href="/forgot-password") Forgot password?

	%h3.text-gray-500.mt-10.mb-4.text-center Continue with

	.flex.gap-3
		%a.flex-1{href: github_authorization_url(@redirect_to)}
			%button.w-full.btn.bg-black <i class="fab fa-github mr-1"></i> GitHub
