.flex.flex-col.gap-5.items-center.justify-center.h-screen.w-screen
	.w-96.h-auto.bg-gray-800.border-t-4.border-green-400.rounded-md.p-7.text-white
		= render "shared/alert"
		= render "shared/notice"

		%h2.text-2xl.mb-6.ml-1 Sign up

		= form_with do |form|
			= form.hidden_field :verification_code, value: @verification_code
			= form.email_field :email, disabled: true, placeholder: "Email", class: "input mb-4", required: true, value: @email
			= form.password_field :password, placeholder: "Password", class: "input mb-6", required: true, autofocus: true

			.flex.justify-between.items-center
				= form.submit "Sign up", class: "btn"