- if selected
	.flex.gap-3.items-start.relative.rounded-md
		%img.h-11.rounded-md(src="https://cloud-5txrrpkms-hack-club-bot.vercel.app/0avataaars.png")
		.flex.flex-col.gap-1
			.flex.gap-2.items-center(class="-mt-1")
				.font-bold.text-sm= user
				.text-gray-500.text-xs= Time.now.strftime "%l:%M %p"
			%div= text
		.absolute.top-0.right-1{"class" => "-mt-3", "x-data" => "{ open: false }"}
			.absolute{class: "-top-1 -left-1"}
				.w-3.h-3.bg-blue-500.absolute.top-0.left-0.rounded-full
				.w-3.h-3.bg-blue-500.absolute.top-0.left-0.rounded-full.animate-ping
			.bg-gray-800.px-2.rounded-md.border.border-gray-700.cursor-pointer.hover:bg-gray-700{"class" => "py-1.5", "@click" => "open = true"}
				%i.fas.fa-ellipsis-v.fa-fw
			%ul.absolute.top-full.right-0.bg-gray-800.rounded-md.p-2.w-52.mt-2.border.border-gray-700.z-10{"x-show" => "open", "x-cloak" => true, "@click.outside" => "open = false"}
				%li.py-2.px-3.hover:bg-gray-700.rounded-md.cursor-not-allowed.text-gray-500 Mark unread
				%li.py-2.px-3.hover:bg-gray-700.rounded-md.cursor-not-allowed.text-gray-500 Pin to channel
				%li.py-2.px-3.hover:bg-gray-700.rounded-md.cursor-pointer{"@click" => "reminders.push({text: \"#{text}\", id: Math.random()}); open = false"} Add to Resolute
- else
	.flex.gap-3.items-start.relative.rounded-md.group{"x-data" => "{ open: false }"}
		%img.h-11.rounded-md.group-hover:opacity-100.transition-opacity{"src" => "https://cloud-5txrrpkms-hack-club-bot.vercel.app/0avataaars.png", ":class" => "open ? 'opacity-100' : 'opacity-50'"}
		.flex.flex-col.gap-1.group-hover:opacity-100.transition-opacity{":class" => "open ? 'opacity-100' : 'opacity-50'"}
			.flex.gap-2.items-center(class="-mt-1")
				.font-bold.text-sm= user
				.text-gray-500.text-xs= Time.now.strftime "%l:%M %p"
			%div= text
		.absolute.top-0.right-1.group-hover:opacity-100.transition-opacity{"class" => "-mt-3", ":class" => "open ? 'opacity-100' : 'opacity-0'"}
			.bg-gray-800.px-2.rounded-md.border.border-gray-700.cursor-pointer.hover:bg-gray-700{"class" => "py-1.5", "@click" => "open = true"}
				%i.fas.fa-ellipsis-v.fa-fw
			%ul.absolute.top-full.right-0.bg-gray-800.rounded-md.p-2.w-52.mt-2.border.border-gray-700.z-10{"x-show" => "open", "x-cloak" => true, "@click.outside" => "open = false"}
				%li.py-2.px-3.hover:bg-gray-700.rounded-md.cursor-not-allowed.text-gray-500 Mark unread
				%li.py-2.px-3.hover:bg-gray-700.rounded-md.cursor-not-allowed.text-gray-500 Pin to channel
				%li.py-2.px-3.hover:bg-gray-700.rounded-md.cursor-pointer{"@click" => "reminders.push({text: \"#{text}\", id: Math.random()}); open = false"} Add to Resolute
