= render "shared/header", selected: "settings"

.w-full.max-w-4xl.block.mx-auto.bg-gray-800.p-7.rounded-md
	.flex.justify-between.items-start.mb-10
		%h1.text-xl.font-heading
			%span.text-gray-500
				%a.text-gray-500(href="/developer") Settings
				\/
			Personal tokens
		%a.btn{href: new_personal_token_path} New

	= render "shared/alert"
	= render "shared/notice"
	
	- if flash[:personal_token]
		.border.border-green-500.bg-green-800.p-5.rounded-md.mb-10.flex.items-start{"data-controller" => "copy alert", "data-copy-text-value" => flash[:personal_token]["token"]}
			.flex-grow.flex.flex-col.items-start
				.bg-green-600.rounded-md.py-1.px-2= flash[:personal_token]["description"]
				.flex.items-center.gap-3
					.font-mono.text-lg.select-all= flash[:personal_token]["token"]
					%button.btn.text-sm(data-action="copy#copy" data-copy-target="button") Copy
				.opacity-50.mt-2.text-sm <i class="far fa-lightbulb mr-1"></i> Remember to save this token, because you won't see it again.
			%button{"data-action" => "alert#dismiss"}
				%i.fa-solid.fa-times

	- if @tokens.length == 0
		%h2.text-center.mb-10.mt-15.text-gray-500 Nothing here, yet...
	- else
		.grid.grid-cols-2.gap-5
			- @tokens.each do |token|
				%li.bg-black.p-5.rounded-md.flex.justify-between.items-center.gap-1
					.flex.flex-col.gap-1
						= token.description
						.text-sm.text-gray-400 Created #{time_ago_in_words token.created_at} ago

					= form_with url: personal_token_path(token), method: :delete, data: { controller: "form-confirm", action: "form-confirm#submit", "form-confirm-title-value" => "Revoke this token?", "form-confirm-text-value" => "Any scripts or applications using this token will stop working.", "form-confirm-action-text-value" => "Revoke" } do
						%button.btn.bg-gray-700.shrink-0.hover:bg-red-500.transition-colors(type="submit") Revoke
