= render "shared/header", selected: "settings"

.w-full.max-w-4xl.block.mx-auto.bg-gray-800.p-7.rounded-md
	%h1.text-xl.mb-10.font-heading.font-semibold Settings

	.flex.gap-7
		.w-64
			%ul.flex.flex-col.mb-5
				= sidebar_link(title: "General", href: "/settings", selected: selected == "general")
				= sidebar_link(title: "Security", href: "/settings/security", selected: selected == "security")

			%ul.flex.flex-col
				= sidebar_link(title: "Developer", href: "/developer", selected: selected == "developer")
		.grow
			= render "shared/alert"
			= render "shared/notice"

			= yield