= render "layout", selected: "security" do
	.mb-5.flex.justify-between.items-center
		%h2.text-lg.text-gray-400 Sessions
		= form_with url: destroy_all_sessions_path do
			%button.btn.bg-red-500(type="submit") Log out everywhere else

	%ul.flex.flex-col.gap-3.mb-10{"x-data" => "{ unfurled: false }"}
		- @sessions[0, 2].each do |session|
			= render session
		- if @sessions.length > 2
			%div.flex.flex-col.gap-3{"x-show" => "unfurled"}
				- @sessions[2..].each do |session|
					= render session
			%div
				.inline-block.link{"@click" => "unfurled = !unfurled", "x-text" => "unfurled ? 'See fewer' : 'See all'"} See all

	%h2.text-lg.text-gray-400.mb-5 Authorized apps

	- if @authorizations.length == 0
		%h2.text-center.mb-8.text-gray-500 You haven't connected any apps to your account.
	- else
		%ul.flex.flex-col.gap-3{"x-data" => "{ unfurled: false }"}
			- @authorizations[0, 2].each do |authorization|
				= render "authorizations/authorization", authorization: authorization
			- if @authorizations.length > 2
				%div.flex.flex-col.gap-3{"x-show" => "unfurled"}
					- @authorizations[2..].each do |authorization|
						= render "authorizations/authorization", authorization: authorization
				%div
					.inline-block.link{"@click" => "unfurled = !unfurled", "x-text" => "unfurled ? 'See fewer' : 'See all'"} See all
