.bg-black.p-5.rounded-md.flex.justify-between.items-center.gap-1
	.flex.flex-col.gap-1
		.flex.gap-2.items-center
			- if authorization.oauth_app.icon.attached?
				= image_tag authorization.oauth_app.icon, class: "h-5 w-auto rounded-md"

			= authorization.oauth_app.name
		.text-sm.text-gray-400 Last authorized #{time_ago_in_words authorization.last_authorized_at} ago
	= form_with url: authorization_path(authorization.oauth_app.id), method: :delete, data: { controller: "form-confirm", action: "form-confirm#submit", "form-confirm-title-value" => "Revoke #{authorization.oauth_app.name}'s access to your account?", "form-confirm-text-value" => "This can't be undone.", "form-confirm-action-text-value" => "Revoke" } do
		%button.btn.bg-gray-700.shrink-0.hover:bg-red-500.transition-colors(type="submit") Revoke
