!!! 5
%html(lang="en")
	%head
		%title= content_for(:page_title) || "Resolute"
		%meta(name="viewport" content="width=device-width,initial-scale=1")/
		%meta(name="turbo-cache-control" content="no-preview")/
		= csrf_meta_tags
		= csp_meta_tag

		%link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		%link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		%link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		%link(rel="manifest" href="/site.webmanifest")

		:javascript
			window.User = { user_id: #{@current_user&.id.to_json.html_safe}, user_email: #{@current_user&.email.to_json.html_safe} }

		= stylesheet_link_tag 'fonts', media: 'all'
		= stylesheet_link_tag 'fontawesome/css/all.min.css', media: 'all'
		= stylesheet_link_tag 'application', media: 'all'
		= javascript_include_tag 'application', defer: true

		= javascript_include_tag 'https://analytics.useresolute.com/umami.js',
			async: true,
			defer: true,
			"data-website-id" => "be12769c-47ed-4f1b-8c03-f20cc06e4ec2",
			"data-domains" => "useresolute.com" if Rails.env.production?

	%body= yield
