!!! 5
%html
  %head
    %title= content_for(:page_title) || "Taskalla"
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %meta(name="turbo-cache-control" content="no-preview")
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body= yield
